/*
 * Bread crumb colour
 */
.breadcrumb {color: black;}
#breadcrumb a {color: black;}

/*
 * Region sizes
 */
.region-triptych-first {
  width: 22%;
  margin: 0 1.25%;
}
.region-triptych-middle {
  width: 46%;
  margin: 0 1.25%;
}
.region-triptych-last {
  width: 22%;
  margin: 0 1.25%;
}
#secondary-menu {
  position: relative;
  float: left;
  width: 150px;
}
#secondary-menu-links {
  list-style: none;
}
#logodiv {
  width: 100px;
}
#logoblock {
  width: 300px;
  float: left;
  background: #CD2D2D;
}

#userblock {
  float: right;
  width: 220px;
  margin-left: 12px;
  clear: both;
}
#userblock li {
  list-style-type: none;
  display: inline;
}
#main-menu {
  float: right;
}
#org-header {
  float: left;
  background: #787677;
}
#name-and-slogan {
  padding-top: 14px;
  margin: 0 0 12px 5px;
}
#header {
  background: #787677;
}
